*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body{
     max-width: 1200px;
}
html{
    font-size: 10px;
    overflow-x: none;
    scroll-behavior: smooth;
}
.hero-header{
    font-family:"Roboto";
   position: relative; 
    width: 100vw;      
    height: 400px;      
    background-image: url("hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-header-wrraper,.Main-content{
    width: 90%;
    margin: 0 auto;
}

.hero-header-bar{
    
    color: white;
    padding-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.8rem;
}
.hero-header-bar-heading{
    display: flex;
    align-items: center;
}
.hero-header-bar-heading svg{
    display: flex;
    height: 1.8rem;
    width: 1.8rem;
    fill: white;
    margin-right: 0.3rem;
}
.hero-header-bar-heading h1 {
    text-align: center;
   font-size: 1.4rem;
   text-transform: capitalize;
}
.hero-header-bar-heading h1 span{
   text-transform: uppercase;
}
.hero-header-bar-navigation{
    align-items: center;
    display: flex; 
}
.hero-header-bar-navigation svg{
  
    display: inline-block;
    stroke-width: 1px;
    height: 3.2rem;
    width: 3.2rem;
    margin: 0 3rem;
}
.hero-header-bar-navigation-svg-wrapper{
    position: relative;
}
.hero-header-bar-navigation-svg-wrapper::before{
    content: "";
    position: absolute;
    top: 2px;  
    right: 33px; 
    width:.7rem;
    height: .7rem;;
    background: orange;
    border-radius: 50%;
    border: 2px solid white; 
}
.hero-header-bar-navigation img{
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 3px;
    margin-left: 1rem;
}
.hero-header-bar-navigation button{
    font-weight: 500;
    height: 80%;
    border-radius: 3px;
    padding:0 1.4rem;
    color: white;
    text-transform: uppercase;
    border: none ;
    background-color: #ffffff2b;
}
.hero-header-main-contanint{

   
    position: relative;
   display: flex;
   
}
.hero-header-main-contanint img{
    height: 28rem;
    width: 26rem;
    object-fit: cover;
    transform: translate(0,3.6rem);
    border-radius: 8px;
}
.hero-header-main-contanint-wrapper{
    padding-top: 3.6rem;
    font-family: robot;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 2.8rem;
    
}
.hero-header-main-contanint-textcontent{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color:white;
      justify-content: flex-start;
}
.hero-header-main-contanint-textcontent h3{

    font-size: 2.6rem;
    font-weight: 350;
    
}
.hero-header-main-contanint-textcontent h3 span{
   
    font-size: 1.8rem;
}
.hero-header-main-contanint-textcontent p{
    font-weight: 400;
    font-size:1.4rem;
}
.hero-header-main-contanint-textcontent p span{
    font-weight: 200;
   margin-right: .5rem;
}
.hero-header-main-contanint-profilecomplition{
   background-color: #ffffff2b;;
}
.hero-header-main-contanint-profilecomplition{
    
}
.Criclular-progress-bar {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    outline: 5px solid orange;
    outline-offset: .7rem;
    outline-color: conic-gradient(
        orange 90deg 360deg,        
        rgba(255, 255, 255, 0.34) 0deg 90deg );
        
    background: rgba(255, 255, 255, 0.34);
}


.Main-content{
    display: grid;
    grid-template-columns: 1.1fr 2.9fr;
    column-gap: 28px;
}
.left-contaienr{
    margin-top: 64px;
}
.about-my-fammily{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #00000023;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.about-my-fammily svg{
    color: #00000057;
}
.info-about-my-family{
   
   color: #00000057;
   text-transform: uppercase;
}
.coverd-photo,.benificary-person-photo,.energency-person{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.4rem;
}
.info-about-family-image-wrapper{
    display: flex;
    gap: 1.8rem;
}
.info-about-family-image-wrapper img{
    border-radius: 50%;
   height: 5.2rem;
   width: 5.2rem;
}
.about-me-wrapper{
    margin-top: 4.2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #00000023;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.about-me svg{
     color: #00000057;
}
.person-info-wrapper{
    margin-top: 1.8rem;
}
.person-info-wrapper div{
    margin:1.2rem 0;
}
.person-info-wrapper div p{
    font-size: 1.2rem;
}
.person-info-wrapper div p:first-child{
    color: #00000057;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.Navigation-bar{
    
    padding: 0 .4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: flex;
    gap:1.4rem;
    border-bottom: 1px solid #00000023;
    font-size: 1.45rem;
    align-items: center;
}
.Navigation-bar a{
    text-align: center;
    text-decoration: none;
    color: #00000057;
    text-transform: uppercase;
}
.Navigation-bar svg{
    height: 1.45rem;
    width:1.45rem;
    margin-right: 0.7rem;
}
.Navigation-bar a:first-child{
    position: relative;
    color: black;
    display: flex; 
}
.Navigation-bar a:first-child::after{
    content: "";
    background-color: #ffac3c;
    position: absolute;
    height: .2rem;
    width: 11rem;
    top:4.6rem
}
.claim-button {
    display: inline-flex;          
    align-items: center;           
                   
    height: 2.8rem;
    background-color: #18d39e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0 1.2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
      margin-left: auto
}
.claim-button {
    color: white;
}
.main-data-content-grid{
    margin-top: 3.6rem;
    display: grid;
    gap:2.4rem;
    grid-template-columns: repeat(6,1fr);
     grid-template-rows:100px 138px 138px 138px;
}
.content-dispaly-card{
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    border-radius: 7px;
    padding: 1.5rem .7rem;
     grid-column: span 2; 
     grid-row: span 1;
     display: flex;
     gap: 1.2rem;
}
.numberd-tittle{
    padding:0 .5rem;
    font-family:JetBrains mono;
    font-size: 4.8rem;
    border-right: 1px solid #00000023;
}
.content-dispaly-card img{
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 1px solid white;
}
.content-dispaly-card-text p{
    font-size: 1.4rem;
    color: #00000057;
    text-transform: uppercase;
    padding-top: .8rem;
    
}
.content-dispaly-card-text::after {
    content: "+32";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    background-color: #18d39e70;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-left: -1.4rem; 
    margin-top: 1.4rem;
    border: 2px solid #fff; 
}
.profile-card {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    gap: 1.5rem;
    display: flex;
    grid-column: 1 / 5;   
    padding: .9rem;
}
.profile-card img{
    border-radius: 3px;
}
.profile-card svg{
  height: 1.6rem;
  width: 1.6rem;
}
.profile-card-wrapper{
    display: flex;
    width: 100%;
  
}
.pay-button{
    margin-left: auto;
    margin-bottom: .8rem;
}

.profile-text-content h2{
    text-transform: uppercase;
    
}
.profile-text-content{
   
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.4rem
}
.profile-text-content p{
    display: flex;
    align-items: center;  
    justify-content: center; 
    gap: 0.6rem;         
    font-size: 1.2rem;
    color: #00000057;

}
.pay-button {
  align-self: flex-start;
  margin-top: auto;       
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: orange;
  color: white;
  font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.pay-button svg{
    margin-right: .5rem;
}

.right-contaier{
        border-left: 1px solid #00000023;
        padding-left: 10px;

}
.profile-card span{
    font-weight: 500;
    color: #00000094;
    text-transform: capitalize;
}
/*  */
.profile-status {
    color: #fff;
    display: flex;
    border-radius: 5px;
    padding: 25px;
    gap: 20px;
    background-color: #ffffff2b;
}

.progress-bar {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.progress-content {
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 1.1rem;
}



.progress-circle::before {
    background-color: #ffffff5e;
    position: absolute;
    border-radius: 50%;
    content: "75%";
    font-size: 20px;
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17px;
    left: 17px;
}


.progress-desc {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff8b;
}

h5.pogress-title {
    font-size: 1.8rem;
    font-weight: 400;
}

.progress-text {
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 5px;
}
.profile-status {
    z-index: 20;
    position: relative;
    height: fit-content;
}
.progress-circle {
    position: relative;
    width: 10rem;
    height: 10rem;
}


.progress-circle::after {
    background-color: transparent;
    content: "";
    height: 91px;
    width: 91px;
    rotate: 70deg;
    position: absolute;
    inset: 0;
    rotate: 45deg;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.129);
    border-right: 5px solid #ffac3c;
    border-bottom: 5px solid #ffac3c;
    border-left: 5px solid #ffac3c;
}
.btn-primary-big{
    display: inline-block;
    width: 80%;
   
    border: none;
    padding: .5rem .3rem;
    font-size: 1.8rem;
    background-color: #ffac3c;
    color: #fff;
    border-radius: .3rem;
     font-weight: 400;
}

.activity-section {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    grid-row: 2/5;
    grid-column: 5/7;
    padding: .7rem;
   
}
.activity-section h3{
    font-size: 1rem;
    font-weight: 300;
    color: #000000a3;
    text-transform: uppercase;  
    border-bottom: .5px solid #00000023;
    padding-bottom: 1rem;
    margin-top: .4rem;
    
}
.info-card{
    display: grid;
    grid-template-columns: 1fr 12fr;
    gap: 1rem;
    color: #000000ad;
}
.info-card h5{
    padding-bottom: .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000ad;
}
.info-card-text-content-p{
    padding-bottom: .5rem;
    color: #00000080;
}
.info-card-text-content p:last-child{
   color: #00000045;
}
.info-card-contaienr{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
   max-height: 41rem;
   overflow-y: scroll;
    position: relative; 
}
.info-card-info-dot{
    background-color: #56a6f1;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    position:relative;
   margin: .3rem auto;
}
.info-card-info-dot::after{
    content: ""; /* required */
    background-color: #56a6f14f;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center it */
    z-index: -1; /* put it behind the dot */  
}
.info-card:nth-child(ODD) .info-card-info-dot{
    background-color: rgba(0, 255, 0, 0.348);
}
.info-card:nth-child(ODD) .info-card-info-dot::after{
    background-color: rgba(0, 255, 0, 0.175);
}

.info-card-contaienr::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -365px;
    left: .7rem;
    width: 1px;
    background: #cccccc3c;
    
}
/*  */

.info-card-contaienr::-webkit-scrollbar {
  width: 4px;    
         
}

.info-card-contaienr::-webkit-scrollbar-track {
  background: #f5f5f500;        
  border-radius: 0px;

}

.info-card-contaienr::-webkit-scrollbar-thumb {
  background: #ffac3c;       
  border-radius: 10px;
}
.content-dispaly-card-text img{
    margin-top: 1.4rem;
}
.numberd-tittle{
    height: 6.4rem;
}

.Navigation-bar a {
  position: relative;
  text-decoration: none;
  color: #00000057;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}


.Navigation-bar a::after {
  content: "";
  background-color: #ffac3c;
  position: absolute;
  height: .2rem;
  width: 100%;     
  top: 4.6rem;    
  left: 0;
  transform: scaleX(0);         
  transform-origin: left;
  transition: transform 0.3s ease;
}

.Navigation-bar a:hover::after {
  transform: scaleX(1);
}

.Navigation-bar a:first-child::after {
  transform: scaleX(1);
}
.content-dispaly-card{
    justify-content: center ;
    align-items: center;
}
.camera-icon{
    display: flex;
    justify-content: end;
    margin-top: 2.4rem;
}
.camera-icon svg{
    stroke: #ffffff77;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #ffffff2b;
    box-sizing: content-box;
    padding: 3px;
    border-radius: 5px;
}
button{
    cursor: pointer;
}
.left-contaienr svg:hover{
    cursor: pointer;
}
/*  */
.left-contaienr{
    margin: 0;
}
.Navigation-bar{
    border-left: 1px solid #00000023;
    margin-left: 31.45%;
    padding-left:10px
}
.Navigation-bar button{
    margin-right: 70px;
}
.numberd-tittle{
    padding-right: 24px;
}
